# Dependencies and AdonisJS build
node_modules
build
dist/
tmp

# Secrets
.env
.env-local
.env.*
!.env.example

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store

# claude
.claude/
